<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="jeremyService" type="Jeremy.Service.Configuration.JeremyConfigurationGroup, Jeremy.Service">
      <section name="settings" type="Jeremy.Service.Configuration.SettingsSection, Jeremy.Service"/>
      <section name="udpListener" type="Jeremy.Service.Configuration.UdpListenerSection, Jeremy.Service"/>
      <section name="messageDispatcher" type="Jeremy.Service.Configuration.MessageDispatcherSection, Jeremy.Service"/>
      <section name="messageListener" type="Jeremy.Service.Configuration.MessageListenerSection, Jeremy.Service"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <jeremyService>
    <settings username="" password="" queueSize="10"/>
    <udpListener port="8081"/>
    <messageDispatcher/>
    <messageListener/>
  </jeremyService>
  <log4net debug="false">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG" />
      <file value="Jeremy.Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%c] %-5p - %m%n" />
      </layout>
    </appender>
    <root name="File">
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
